*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Times New Roman', Times, serif;
	--background: #FCCCAD;
	--pop_up_background: #f5df9d;
	--text_color: #753F27;
	--hover: #bd6b00;
	background-color: var(--background);
}


h2{
	text-align: center;
	font-size: 38px;
	font-weight: 500;
	margin: 30px 0 10px;
	background: none;
}

.container {
	display: flex;
	justify-content:center;
}

.btn{
	border: 0;
	padding:10%;
	outline: none;
	cursor: pointer;
	font-size: 15px;
	font-weight: 500;
}

/* about us */

.about{
	width: 280px;
	background: var(--pop_up_background);
	border-radius: 30px;
	position: absolute;
	top: 1;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.1);
	padding:0 30px 30px;
	color:var(--text_color) ;
	visibility: hidden;
	transition: transform 0.4s, top 0.4s;
}

.about p{
	background-color: var(--pop_up_background);
}

.about img{
	width: 70px;
	height: 70px;
	margin-top: -30px;
	border-radius: 50%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 10);
}

.about button{
	width: 100%;
	margin-top: 50px;
	padding: 10px 0;
	background:var(--text_color);
	color: var(--pop_up_background);
	border: 0;
	outline: none;
	font-size: 18px;
	border-radius: 30px;
	cursor: pointer;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.open-popup{
	visibility: visible;
	top: 50%;
	transform: translate(-50%, -50%) scale(1);
	z-index: 2;
}
/* sign_in */

.sign_in {
	width: 280px;
	background: var(--pop_up_background);
	border-radius: 30px;
	position: absolute;
	top: 1;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.1);
	padding:0 30px 30px;
	color:var(--text_color) ;
	visibility: hidden;
	transition: transform 0.4s, top 0.4s;
	z-index: 1;
}

.open-sign_in{
	visibility: visible;
	top: 50%;
	transform: translate(-50%, -50%) scale(1);
}

input{
	border-radius: 10px;
}

.sign_in form label{
	background-color: var(--pop_up_background);
}
#sign_in {
	position: center;
}
/*timer*/

.app-message {
  height: 20px;
  margin: 10px auto 20px auto;
}

.app-container {
  width: 250px;
  height: 420px;
  margin: 40px auto;
  text-align: center;
  border-radius: 5px;
  padding: 20px;
}


.app-circle {
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 200px;
}

.circle-shape {
  pointer-events: none;
}

.semi-circle {
  position: absolute;
  width: 100px;
  height: 200px;
  box-sizing: border-box;
  border: solid 10px;
}

.left-side {
  top: 0;
  left: 0;
  transform-origin: right center;
  transform: rotate(0deg);
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border-right: none;
}

 .right-side {
  top: 0;
  left: 100px;
  transform-origin: left center;
  transform: rotate(0 deg);
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-left: none;
}

.circle {
  border-color: #bf5239;
}

.circle-mask {
  border-color: #e85a71;
}

.app-counter-box {
  font-family: 'Droid Sans Mono', monospace;
	background: var(--background);
  font-size: 150%;
  position: relative;
  top: 10px;
  color: var(--text_color);
}

.app-container button {
  position: relative;
  top: 50px;
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  background: none;
  outline: none;
  color: var(--text_color);
}

button:hover {
  color: var(--hover);
}
