*{
	font-family: 'Times New Roman', Times, serif;
}

:root {
	/* main theme */
	--background: #FCCCAD;
	--pop_up_background: #f5df9d;
	--text_color: #753F27;
	--hover: #bd6b00;
	--tasks_background: #C29857;
	background-color: var(--background);
}

/* navigation bar */

.nav_bar {
	display:flex;
	justify-content:center;
}

.btn{
	border: 0;
	padding:2%;
	font-size: 20px;
	background-color: var(--background);
}

button:hover {
  color: var(--hover);
	cursor: pointer;
}

/* about us */

h2{
	text-align: center;
	font-size: 38px;
	font-weight: 500;
	margin: 30px 0 10px;
	background: none;
}

.about{
	width: 280px;
	background: var(--pop_up_background);
	border-radius: 30px;
	position: absolute;
	top: 1;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.1);
	padding:0 30px 30px;
	color:var(--text_color) ;
	visibility: hidden;
	transition: transform 0.4s, top 0.4s;
}

.about p{
	background-color: var(--pop_up_background);
	font-size: larger;
}

.about img{
	width: 90px;
	height: 90px;
	margin-top: -30px;
	border-radius: 50%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 10);
}

.about button{
	width: 100%;
	margin-top: 50px;
	padding: 10px 0;
	background:var(--text_color);
	color: var(--pop_up_background);
	border: 0;
	outline: none;
	font-size: 18px;
	border-radius: 30px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.open-popup{
	visibility: visible;
	top: 50%;
	transform: translate(-50%, -50%) scale(1);
	z-index: 1;
}

/* sign_in */

.sign_in {
	width: 280px;
	background: var(--pop_up_background);
	border-radius: 30px;
	position: absolute;
	top: 1;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.1);
	padding:0 30px 30px;
	color:var(--text_color) ;
	visibility: hidden;
	transition: transform 0.4s, top 0.4s;
}

.open-sign_in{
	visibility: visible;
	top: 50%;
	transform: translate(-50%, -50%) scale(1);
	z-index: 1;
}

input{
	border-radius: 10px;
}

.sign_in form label{
	background-color: var(--pop_up_background);
}
#sign_in {
	position: center;
}
/* tasks */
.tasks {
	background: var(--tasks_background);
	border-radius: 20px;
	position:relative;
	top: 4vw;
	left: 35vw;
	width: 220px;
	padding:10px 30px 30px;
	color:var(--text_color) ;
}
.tasks input{
	background: var(--pop_up_background);
	border-radius: 50px;
	padding: 1rem 2rem;
}

#add {
	background: var(--background);
	color: var(--text_color);
	border: 1px solid var(--text_color);
	border-radius: 50%;
	height: 40%;
	position: absolute;
	right: 50px;
	top: 18px;
}
/*timer*/
.app-container {
  position: relative;
	top:0px;
	width: 300px;
  height: 500px;
  margin: 40px auto;
  text-align: center;
  border-radius: 1px;
  padding: 20px;
}

.app-circle {
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 200px;
}

.circle-shape {
  pointer-events: none;
}

.semi-circle {
  position: absolute;
  width: 100px;
  height: 200px;
  box-sizing: border-box;
  border: solid 6px;
}

.left-side {
  top: 0;
  left: 0;
  transform-origin: right center;
  transform: rotate(0deg);
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border-right: none;
}

 .right-side {
  top: 0;
  left: 100px;
  transform-origin: left center;
  transform: rotate(0 deg);
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-left: none;
}

.circle {
  border-color: #bf5239;
}

.circle-mask {
  border-color: #e85a71;
}

.app-counter-box {
  font-size: 40px;
	position:relative;
  top: 75px;
  color: var(--text_color);
}

.app-container button {
  position: relative;
  top: 5px;
  font-size: 20px;
  letter-spacing: 1px;
  border: none;
  background: none;
  outline: none;
  color: var(--text_color);
}

.controls {
	position: relative;
	padding-bottom: 20px;
	letter-spacing: 50px;
}

#subt {
	font-size: 30px;
}

/* footer */

footer {
display:flex;
justify-content: center;
}